:root{
    --background1 : #040b0e;
    --background2 : #0d1317;
    --text : #ececec;
    --primary: #0c6afc;
    --logo: #6ca5ff;
    --dark: #062047;

    --facebook : #4267b2;
    --twitter : #1da1f2;
    --instagram : #c13584;
    --youtube : #ff0000;
    --tiktok : #69c9d0;
}